body{
    text-align: center;
    background-image: url('https://media.istockphoto.com/photos/business-plan-todo-list-or-reminder-concept-female-hand-holding-black-picture-id1021975288');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: auto;
    width: auto; */
}
.btn{
    color: white;
    background-color: rgb(37, 110, 155);
}
#list{
    color: white;
}